---
// teir 0
import ConeyIsland from "@partner/coney-island-hot-dogs.svg";
import Schultz from "@partner/schultzs-treat-street.svg";
import Nagles from "@partner/nagles-top-dog-malt-shoppe.svg";
import Papas from "@partner/papas-italian-sausage.svg";
import RayRays from "@partner/ray-rays-italian-beef-sausage.svg";
import RootBeer from "@partner/the-root-beer-stand.svg";
// import YouzGuys from "@partner/youz-guys-dogz.svg";

// tier 1
import KalamazooLoavesFishes from "@partner/kalamazoo-loaves-fishes.svg";

// tier 2 - Big Dog
// ---

// tier 3 - The Works
import FastingFoodie from "@partner/fasting-foodie.svg";
import InnovativeAnalytics from "@partner/innovative-analytics.svg";
import KreisEnderle from "@partner/kreis-enderle.svg";
import LakelandAceHardware from "@partner/lakeland-ace-hardware.svg";
import RustRidersGarage from "@partner/rust-riders-garage.svg";
import SchultzSweets from "@partner/schultz-sweets.svg";
import TrestlewoodPediatrics from "@partner/trestlewood-pediatrics.svg";

// tier 4 - Toppings
import AuntMillies from "@partner/aunt-millie-s.svg";
import JaquaRealtorsNateHawthorne from "@partner/jaqua-realtors-nate-hawthorne.svg";
import ProfesionalCannabisEducationNetwork from "@partner/profesional-cannabis-education-network.svg";

// tier 5 - Nice Buns
// ---

// tier 9
import MIPrintWorks from "@partner/mi-print-works.svg";
import Shakespeares from "@partner/shakespeare-s-pub.svg";
import SignsMore from "@partner/signs-more.svg";
---

<aside class="vw-100 partners">
  <h2 id="partners">2025 Partners</h2>
  <ul>
    <li><a href="https://coneyislandkalamazoo.com"><ConeyIsland/></a></li>
    <li><a href="https://facebook.com/pages/Nagles-Top-Dog-Malt-Shoppe/121429991203882"><Nagles/></a></li>
    <li><a href="https://papasitaliansausage.com"><Papas/></a></li>
    <li><a href="https://facebook.com/rayrayskzoo"><RayRays/></a></li>
    <li><a href="https://facebook.com/TheRootBeerStandKalamazoo"><RootBeer/></a></li>
    <li><a href="https://schultzsweets.com/treat-street"><Schultz/></a></li>
    <li><a href="https://kzoolf.org"><KalamazooLoavesFishes/></a></li>
    <li><a href="https://youtube.com/@fastingfoodie"><FastingFoodie/></a></li>
    <li><a href="https://www.ianalytics.biz"><InnovativeAnalytics/></a></li>
    <li><a href="https://www.kreisenderle.com"><KreisEnderle/></a></li>
    <li><a href="https://www.acehardware.com/store-details/04170"><LakelandAceHardware/></a></li>
    <li><a href="https://www.facebook.com/rustridersgarage"><RustRidersGarage/></a></li>
    <li><a href="https://www.schultzsweets.com"><SchultzSweets/></a></li>
    <li><a href="https://trestlewoodpediatrics.com"><TrestlewoodPediatrics/></a></li>
    <li><a href="https://auntmillies.com"><AuntMillies/></a></li>
    <li><a href="https://jaquarealtors.com/agents/32365-Nate-Hawthorne"><JaquaRealtorsNateHawthorne/></a></li>
    <li><a href="https://twitter.com/pcenkzoo"><ProfesionalCannabisEducationNetwork/></a></li>
    <li><a href="https://miprintworks.com"><MIPrintWorks/></a></li>
    <li><a href="https://shakespearespub.com"><Shakespeares/></a></li>
    <li><a href="#"><SignsMore/></a></li>
  </ul>
</aside>
