.partners {
  background: var(--color-accent);
  color: var(--color-background);
  padding: var(--vr) 0 0;
}

.partners h2 {
  margin: 0;
  text-align: center;
}

.partners ul {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: var(--vr);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: var(--vr);
}

.partners a {
  display: block;
  padding: var(--vr);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.partners a:--enter {
  transform: scale(1.1);
}

.partners svg {
  height: auto;
  width: 100%;
}

.partners :is(path, polygon, rect) {
  fill: var(--color-background);
}

@media (--small) {
  .partners ul {
    flex-flow: row wrap;
  }

  .partners li {
    flex: 0 1 calc(50% - var(--vr) / 2);
  }
}

@media (--medium) {
  .partners li {
    flex: 0 1 calc(33% - var(--vr) / 1.5);
  }
}

@media (--large) {
  .partners li {
    flex: 0 1 calc(25% - var(--vr));
  }
}
