h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-stack-head);
}

body {
  display: flex;
  flex-flow: column;
  padding: 0 max(var(--vr), calc(50vw - 40ch));
}

nav a {
  display: block;
  padding: calc(var(--vr) / 2);
  text-decoration: none;
}

a:--enter {
  color: var(--color-accent-02);
}

fieldset {
  border-width: 0.1rem;
  margin: 0;
}

legend {
  font: var(--font-size-03) / var(--line-height-03) var(--font-stack-head);
}

label {
  cursor: pointer;
}

.vw-100 {
  margin: 0
    min(calc(var(--vr) * -1), calc((50vw - var(--width-content) / 2) * -1))
    var(--vr);
}

.hide {
  display: none;
}

.hero {
  height: 100vh;
}

header {
  align-items: center;
  background: var(--color-accent-50);
  box-shadow: 0 0 calc(var(--vr) * 4) black inset;
  color: var(--color-background);
  display: flex;
  flex-flow: column;
  justify-content: center;
  order: -2;
  position: relative;
  text-align: center;
}

header video {
  height: 100%;
  left: 0;
  margin: 0 calc(var(--vr) * -1) var(--vr);
  margin: 0;
  max-width: none;
  object-fit: cover;
  order: -1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

header path {
  fill: var(--color-background);
}

header a.logo {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  padding: var(--vr);
  width: 100%;
}

header svg {
  height: 100%;
  margin: auto;
  opacity: 1;
  transform: none;
  width: auto;
}

header [href="#main"],
header [href="/sponsors"] {
  color: var(--color-background);
  font-size: var(--font-size-01);
  line-height: var(--line-height-01);
  padding: calc(var(--vr) / 2);
  width: 100%;
}

header [href="#main"]:--enter,
header [href="/sponsors"]:--enter {
  background: var(--color-background);
  color: var(--color-accent);
}

.cta {
  opacity: 1;
}

.cta figcaption {
  font: inherit;
  font-weight: bold;
  margin: 0 0 calc(var(--vr) / 2);
}

.cta time {
  border: 0.1rem solid;
  border-radius: 0.4rem;
  display: flex;
  gap: calc(var(--vr) / 2);
  justify-content: space-evenly;
  padding: calc(var(--vr) / 2);
}

.cta time span {
  display: flex;
  flex-flow: column;
}

.cta time b {
  font: var(--font-size-05) / var(--font-size-05) var(--font-stack-mono);
}

.cta time i {
  font-style: normal;
}

.cta a {
  border: 0.1rem solid;
  border-radius: 0.4rem;
  color: var(--color-background);
  display: inline-block;
  font-size: var(--font-size-04);
  line-height: var(--line-height-04);
  padding: calc(var(--vr) / 2) var(--vr);
  text-align: center;
  text-decoration: none;
  transition:
    background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.cta a:--enter {
  background: var(--color-background);
  color: var(--color-accent);
}

header g {
  opacity: 1;
}

header .bun-solid {
  opacity: 0;
}

.stage g {
  opacity: 0;
}

.stage .bun-solid {
  opacity: 1;
}

.stage svg {
  opacity: 0;
  transform: rotate(720deg) scale(0.1);
}

.animate svg {
  transition:
    opacity 3s var(--transition-timing-function),
    transform 3s var(--transition-timing-function);
}

.animate :is(.bun-solid, g) {
  transition: opacity 1s var(--transition-timing-function) 3.1s;
}

footer {
  text-align: center;
}

nav.vw-100 {
  border-bottom: 0.1em solid var(--color-accent);
  order: -1;
  margin-top: calc(var(--vr) * -1);
}

nav h2 {
  display: none;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

[type="checkbox"][onclick]:checked {
  background-color: var(--color-background);
  background-image: var(--icon-check-required);
}

:checked + label {
  color: var(--color-accent);
}

[type="submit"],
[type="button"] {
  background: var(--color-accent);
  border: 0.1rem solid var(--color-accent);
  border-radius: 0.4rem;
  color: var(--color-background);
  font-size: var(--font-size-01);
  line-height: var(--line-height-01);
  transform-origin: 0 50%;
  transition:
    border var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function);
}

/* [type="button"] {
  font-size: var(--font-size-00);
  line-height: var(--font-size-00);
} */

[type="submit"]:--enter,
[type="button"]:--enter {
  transform: scale(1.1);
}

[type="submit"]:active,
[type="button"]:active {
  transform: none;
  transition: none;
}

[type="submit"]:disabled {
  background: transparent;
  border: 0.1rem dashed silver;
  color: silver;
}

:is(.reg-error, .stripe-error) > * {
  background: firebrick;
  color: var(--color-background);
  margin: 0 0 var(--vr);
  padding: var(--vr);
}

.reg-type {
  background: var(--color-background);
  display: flex;
  flex-flow: column;
  gap: var(--vr);
  padding: 0 var(--vr);
}

.reg-type div,
.reg-shirts-event div {
  position: relative;
}

.reg-type input {
  position: absolute;
  z-index: -1;
}

.reg-type label,
.reg-shirts-event label {
  border: 0.2rem dashed silver;
  border-radius: 1rem;
  display: block;
  min-height: 100%;
  padding: var(--vr) var(--vr) 0;
  transition:
    background-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.reg-shirts-event label {
  margin: 0 0 calc(var(--vr) * 0.5);
  padding: var(--vr);
  text-align: center;
  width: 100%;
}

.reg-type > :last-child {
  border: 0.2rem solid transparent;
  border-radius: 1rem;
  padding: var(--vr) var(--vr) 0;
}

.reg-type label:--enter,
.reg-shirts-event label:--enter {
  border-color: inherit;
  border-style: solid;
}

.reg-type :checked + label,
.reg-shirts-event :checked + label {
  background: var(--color-accent);
  border-color: var(--color-accent);
  border-style: solid;
  color: var(--color-background);
}

.reg-shirts-event [disabled] + label,
.reg-type [disabled] + label,
.reg-type [disabled] + label:--enter,
.reg-shirts-event [disabled] + label:--enter {
  border: 0;
  color: silver;
  transition: none;
}

.reg-shirts-event [value="r"]:checked + label {
  background: var(--color-shirt-red);
  border-color: var(--color-shirt-red);
}

.reg-shirts-event [value="o"]:checked + label {
  background: var(--color-shirt-orange);
  border-color: var(--color-shirt-orange);
}

.reg-shirts-event [value="p"]:checked + label {
  background: var(--color-shirt-purple);
  border-color: var(--color-shirt-purple);
}

.reg-type h2 strong {
  background: var(--color-background);
  border: 0.2rem dashed silver;
  border-radius: 100%;
  right: calc(var(--vr) * -0.5);
  padding: calc(var(--vr) / 2);
  position: absolute;
  top: calc(var(--vr) * -0.5);
  transform: rotate(15deg);
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.reg-type label:--enter h2 strong {
  border-color: inherit;
  border-style: solid;
  transform: rotate(20deg) scale(1.1);
}

.reg-type :checked + label h2 strong {
  background: var(--color-accent);
  border-color: inherit;
  border-style: solid;
  color: var(--color-background);
  transform: rotate(15deg);
}

.reg-type [disabled] + label h2 strong {
  display: none;
}

.reg-type .seats {
  font: var(--font-size-01) / var(--line-height-01) var(--font-stack-head);
  right: 4.5rem;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  top: 0;
}

.reg-shirts-event .count {
  display: block;
  font-size: var(--font-size-m1);
  line-height: var(--line-height-m1);
  text-align: center;
}

.reg-info {
  display: flex;
  flex-flow: column;
}

.reg-info input {
  width: 100%;
}

.reg-shirts div {
  display: flex;
  flex-flow: column;
}

.reg-shirts input,
.reg-shirts select {
  width: 100%;
}

.reg-shirts [type="radio"] {
  border: 0;
  height: 1px;
  opacity: 0;
  padding: 0;
}

.reg-shirts caption {
  text-align: left;
}

.reg-shirts table {
  min-width: 50%;
}

.reg-shirts table button {
  font-size: var(--font-size-00);
  line-height: var(--line-height-00);
}

.reg-shirts-event {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.reg-shirts-event.hide {
  display: none;
}

.reg-shirts-event hr {
  margin: var(--vr) 0 0;
  width: 100%;
}

.reg-shirts-event hr.split {
  border-top: silver 0.1em dotted;
}

#stripe-payment {
  border: 0.1rem solid;
  margin: 0 0 var(--vr);
  padding: calc(var(--vr) / 2);
}

.alert {
  align-items: center;
  backdrop-filter: blur(0.8rem);
  background: #fffc;
  content: "";
  display: grid;
  inset: 0;
  opacity: 0;
  padding: var(--vr);
  position: fixed;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
  z-index: 99;
}

.alert div {
  background: var(--color-accent);
  border: 0.1rem solid;
  border-radius: 1rem;
  color: var(--color-background);
  margin: auto;
  max-width: var(--width-content);
  padding: var(--vr);
}

.alert.show {
  opacity: 1;
}

#receipt-total {
  font-size: var(--font-size-03);
  line-height: var(--line-height-03);
}

.event-shirt :checked + [for$="red"] {
  background: var(--color-shirt-red);
  color: var(--color-background);
}

.event-shirt :checked + [for$="orange"] {
  background: var(--color-shirt-orange);
  color: var(--color-background);
}

.event-shirt :checked + [for$="blue"] {
  background: var(--color-shirt-blue);
  color: var(--color-background);
}

.event-shirt :checked + [for$="purple"] {
  background: var(--color-shirt-purple);
  color: var(--color-background);
}

@media (--small) {
  .reg-info,
  .reg-shirts-event,
  .reg-shirts div {
    flex-flow: row wrap;
    gap: var(--vr);
    margin: 0 0 var(--vr);
  }

  .reg-info p,
  .reg-shirts div p,
  .reg-shirts-event div {
    flex: 0 1 calc(50% - var(--vr) / 2);
    margin: 0;
  }

  .reg-shirts-event label {
    margin: 0;
    padding: var(--vr) var(--vr) 0;
  }

  .reg-shirts-event hr.split {
    margin-bottom: calc(var(--vr) * -2);
  }
}

@media (--medium) {
  .reg-type {
    flex-flow: row wrap;
  }

  .reg-type div {
    flex: 0 1 calc(50% - var(--vr) / 2);
  }

  .reg-type > :last-child {
    flex: 0 1 100%;
  }

  .reg-shirts div p {
    flex: 0 1 calc(33% - var(--vr) / 1.5);
  }

  .reg-shirts-event div {
    flex: 0 1 calc(25% - var(--vr) / 1.3333);
  }
}

@media (--large) {
  .reg-type div {
    flex: 0 1 calc(33% - var(--vr) / 1.5);
  }

  .reg-type > :last-child {
    flex: 0 1 calc(66% - var(--vr) / 3);
  }

  .event-shirt div {
    flex: 0 1 calc(25% - var(--vr) / 1.5);
  }
}
