---
import '@style/style.css'
import Logo from "@component/logo.svg";
import Partners from "@component/partners.astro"

interface Props {
  frontmatter?: {
    title: string;
    excerpt: string;
  },
  title: string,
  excerpt: string,
}

const {title, excerpt} = Astro.props.frontmatter ? Astro.props.frontmatter : Astro.props
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content={excerpt}>
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>{Astro.url.pathname === "/" ? "Kalamazoo Hot Dog Walk" : `${title} • Kalamazoo Hot Dog Walk`}</title>
    <link rel="author" href="/humans.txt">
    <link rel="canonical" href={Astro.url}>
    <link rel="icon" href="/favicon.ico">
    <link rel="sitemap" href="/sitemap-index.xml">
    {Astro.url.pathname.match(/^\/register/) ? <script is:inline>
      fetch("/api/dates")
        .then((response) => response.json())
        .then((data) => {
          const open = Date.parse(data.open);
          const close = Date.parse(data.close);
          const now = (new Date()).valueOf();
          const { searchParams } = new URL(location.href);

          if (open < now && now < close) {
            return;
          } else if (searchParams.get(`vip${data.walk.split('-').shift()}`) !== null) {
            return;
          }

          location.assign("/");
        })
    </script> : null}
  </head>
  <body id="top">
    <header class={Astro.url.pathname === "/" ? 'vw-100 hero' : 'vw-100'}>
      {Astro.url.pathname === "/" ? <a href="/sponsors">Become a Sponsor</a> : null}
      <a href="/" class="logo"><Logo/></a>
      <video src="/srv/hero.mp4" poster="/srv/hero.webp" autoplay loop muted playsinline></video>
      {Astro.url.pathname === "/" ? <div class="cta"></div><a href="#main">Learn More</a> : null}
    </header>
    <main id="main">
      {Astro.url.pathname === "/" ?  <h1>Kalamazoo Hot Dog Walk</h1> : <h1>{title}</h1>}
      <slot/>
    </main>
    <Partners/>
    <nav class="vw-100">
      <h2>Navigation</h2>
      <ul>
        <li><a href="/#registration-tips">Tips</a></li>
        <li><a href="/#partners">Partners</a></li>
        <li><a href="mailto:info@hotdogwalk.com">Contact</a></li>
        <li><a href="https://hotdogwalk.us10.list-manage.com/subscribe/post?u=8817d2b3fe79871af376ea70f&id=44dc126d0f">Join the Mailing List</a></li>
      </ul>
    </nav>
    <footer>
      <p>© {(new Date).getFullYear()} Kalamazoo Hot Dog Walk • <a href="/privacy">Privacy Policy</a></p>
    </footer>
     <script src="../scripts/script.ts"></script>
    {Astro.url.pathname.match(/^\/success/) ? <script is:inline>location.search.match(/^\?id=\d+$/)?fetch(`/api/success/${location.search.replace(/\D+/g,"")}`):0</script> : null}
  </body>
</html>
