.reg-dogs .stop {
  margin: 0 0 var(--vr);
}

.reg-dogs .toppings {
  border: 0;
  display: flex;
  flex-flow: column;
  height: 0;
  overflow: hidden;
  margin: 0;
}

.reg-dogs fieldset legend {
  font-size: var(--font-size-02);
  line-height: var(--line-height-02);
}

.reg-dogs .toppings legend {
  display: none;
}

.reg-dogs :checked + label + .toppings {
  height: auto;
  overflow: visible;
  padding: var(--vr) 0 0 calc(var(--vr) * 2);
}

@media (--small) {
  .reg-dogs .toppings {
    flex-flow: row wrap;
    gap: var(--vr);
  }

  .reg-dogs .toppings p {
    flex: 0 1 calc(50% - var(--vr) / 2);
    margin: 0;
  }

  .reg-dogs :checked + label + .toppings {
    padding: var(--vr) 0 var(--vr) calc(var(--vr) * 2);
  }
}

@media (--medium) {
  .reg-dogs .toppings p {
    flex: 0 1 calc(33% - var(--vr) / 1.5);
  }
}
